body,h1,h2,h3,h4,h5,div,span,p,a,nav,section,article,header,footer,table,tr,td,form,input,button,textarea,ul,li{
    font-family: 'noto sans',Helvetica, Tahoma, Arial, PingFang SC, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}
body,h1,h2,h3,h4,h5,div,span,p,a,nav,section,article,header,footer,table,tr,td,form,input,button,textarea,ul,li{
    padding: 0;
    margin: 0;
}
body, html{
    width: 100%;
    height: 100%;
}
*{
    box-sizing: border-box;
}
li{
    list-style: none;
}
a {
    text-decoration: none;
}